@font-face {
    font-family: cardiz;
    src: url(fonts/cadiz-regular.woff2);
}

@font-face {
    font-family: sofia proBold;
    src: url(fonts/SofiaPro-Bold.woff2);
}

@font-face {
    font-family: sofia proMedium;
    src: url(fonts/SofiaProMedium.woff2);
}

#d-userDetails{
    margin-bottom: 50px;
    min-height: 50vh;
}
#d-userDetailsInfo{
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
    margin: auto;
}

#d-userDetailsInfo-items{
    grid-template-rows: repeat(3,1fr); 
}

.d-userDetailsH1{
    font-family: sofia proBold;
    font-size: 3rem;
    font-weight: 400;
    line-height: 30px;
}

.d-userDetailsH2{
    font-family: sofia proBold;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 32px;
}

#d-userslogout-link{
    color: black;
    font-size: 16px;
}

#d-userUpdatebtns button{
    font-size: 14px;
    border: none;
    padding: 10px;
    border-radius: 49px;
    min-width: 80px;
    font-family: sofia proRegular;
    background-color: #0085CA;
    color: white;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -ms-border-radius: 49px;
    -o-border-radius: 49px;
}

#d-userUpdatebtns button:hover{
    cursor: pointer;
}

.d-likedProductIMG{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
}

.customerReview{
    margin: 0;
}

.d-customer-reviewItems-grid{
    grid-template-columns: repeat(3,1fr);
}



#d-createReview-Modal, #d-deleteReview-Modal{
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#d-review-From, #d-deleteReview-details{
    width: 500px;
  max-width: 500px;
  min-width: fit-content;
  background-color: white;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.d-display-none {
    display: none;
  }
  
  .right-format {
    background-color: #80808025;
    border: none;
  }
  
  .wrong-format {
    box-shadow: 0px 2px 2px 2px #ff00ea4a;
  }
  
  .error-msg {
    color: #ff4800e5;
    font-size: 12px;
    margin: 0 0 9px 0;
  }

  #d-reviewText{
    height: 150px;
  }

  #d-review-From button{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: white;
    background-color: #101010;
    padding: 10px 40px;
}


#d-review-From button:hover{
    cursor: pointer;
}
#d-closeReviews:hover, #d-closedeleteReviews:hover{
    cursor: pointer;
}


#d-review-Form{
    position: relative;
  }
  #d-reviewErrMsg{
    position: absolute;
    top: 10px;
  }

  
.fillRed{
    fill: #EF4043
}


.bi-trash2-fill:hover, 
.bi-pen-fill:hover{
    cursor: pointer;
}

.d-listOrders{
    grid-template-columns: repeat(3, 1fr);
}